<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=50%, initial-scale=1.0">
    <title>Donate</title>
    <style> Body {  
        font-family: Calibri, Helvetica, sans-serif;  
        background-color:paleturquoise;  }
        form {   
            border: 3px solid #f1f1f1;   
        }  
    
      
     </style>
</head>
<body>

    Mercy and Caring Children’s Homes is a Christian non-profit organization based in Kitale, Kenya. 
     The charity owns 10 acres in Kitale where the children enjoy just being kids.  
     A large field is at the centre of everything and the children love to play soccer there for hours.
      A small farm on-site gives the children 
     experience growing food and looking after animals like cows, goats and sheep.

    MCCH feeds, clothes, houses, 
    educates, and provides health care for about 100 vulnerable children.  
    Approximately 95% of all donations go directly to this mission in Kenya for the care of the
     children.  Only 5% is needed for transaction fees and other small expenses.
       MCCH is run by 
     volunteers in Canada.
    
    We are a registered non-profit, non-denominational, non-political, intertribal organization. 
    Along with caring for the children’s physical, educational and social needs, MCCH teaches,
     trains and encourages them to become disciples of Christ.
      
     through prayer, music, worship, and Bible study we assist the children to follow Jesus’ 
    teachings and to go forward as adults to spread His gospel of love, 
    salvation and healing. 
    
</body>
</html>