{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Foster Care Admin Dashboard</title>

  <!-- Montserrat Font -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div class="grid-container">

    <!-- Header -->
    <header class="header">
      <div class="menu-icon" onclick="openSidebar()">
        <span class="material-icons-outlined">menu</span>
      </div>

      <nav>
        <ul>
          <li><a href="">Add Admin</a>
          <li>
          <li><a href="{% url 'add-child' %}">Add Child</a>
          <li>
          <li><a href="">Add Sponsor</a>
          <li>
          <li><a href="">Add Employee</a>
          <li>
          <li><a href="">Add Department</a>
          <li>
          <li><a href="">Add House</a> </li>
        </ul>
      </nav>

      <div class="header-right">
        <span class="material-icons-outlined">notifications</span>
        <span class="material-icons-outlined">email</span>
        <span class="material-icons-outlined">account_circle</span>
      </div>
    </header>
    <!-- End Header -->

    <!-- Sidebar -->
    <aside id="sidebar">
      <div class="sidebar-title">
        <div class="sidebar-brand">
          <p>FOSTER CARE</p>
        </div>
        <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
      </div>

      <ul class="sidebar-list">
        <li class="sidebar-list-item">
          <a href="{% url 'home' %}">
            <span class="material-icons-outlined">dashboard</span> Dashboard
          </a>
        </li>
        <li class="sidebar-list-item">
          <a href="{% url 'child-list' %}">
            <span class="material-icons-outlined">inventory_2</span> Manage Children
          </a>
        </li>

        <li class="sidebar-list-item">
          <a href="{% url 'add-employee' %}">
            <span class="material-icons-outlined">groups</span> Manage Employees
          </a>
        </li>
        <li class="sidebar-list-item">
          <a href="{% url 'add-sponsor' %}">
            <span class="material-icons-outlined">fact_check</span> Manage Sponsors
          </a>
        </li>
        <li class="sidebar-list-item">
          <a href="#">
            <span class="material-icons-outlined">poll</span> Reports
          </a>
        </li>

      </ul>
    </aside>
    <!-- End Sidebar -->

    <!-- Main -->
    <main class="main-container">

      {% block content %}


      {% endblock %}


    </main>
    <!-- End Main -->

  </div>

  <!-- Scripts -->
  <!-- Custom JS -->
  <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>